<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            font-family: 'microsoft yahei', Arial, sans-serif;
        }

        h1 {
            font-weight: 500;
            font-size: 24px;
        }

        table, th, td {
            border: 1px solid #CFCFCF;
            border-collapse: collapse;
            padding: 10px;
        }
    </style>
</head>
<body>
<h1>AngularJS元素操作</h1>

<p>提示：请点击复选框查看针对"演示按钮"的控制效果</p>

<div ng-app="">
    <table border="0">
        <tr>
            <th>控制操作</th>
            <th>演示元素</th>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model="enableDisableButton">禁用右侧按钮</td>
            <td>
                <button ng-disabled="enableDisableButton">演示按钮</button>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model="showHide1">显示右侧按钮</td>
            <td>
                <button ng-show="showHide1">演示按钮</button>
            </td>
        </tr>
        <tr>
            <td><input type="checkbox" ng-model="showHide2">隐藏右侧按钮</td>
            <td>
                <button ng-hide="showHide2">演示按钮</button>
            </td>
        </tr>
        <tr>
            <td><p>已点击次数: {{ clickCounter }}</p></td>
            <td>
                <button ng-click="clickCounter = clickCounter + 1">点击计数</button>
            </td>
        </tr>
    </table>
</div>
<script src="js/angular.min.js"></script>
</body>
</html>