<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
    <style>
        body {
            background: #222;
            color: #FFF;
        }

        .text {
            color: orange;
        }
    </style>
</head>
<body>
<!--
ng-controller: 用来定义angularJS的相关控制器的指令，在AngularJS中使用控制器来控制数据，它主要来封装属性，及其方法
-->
<div ng-app="" ng-controller="myCtrl">
    课程：<input type="text" ng-model="course.title"><br>
    报名：<input type="text" ng-model="course.enroll"><br>
    <hr>
    课程报名信息：<span class="text">{{course.result()}}</span>
</div>
<script src="js/angular.min.js"></script>
<script>
    //控制器使用Javascript来定义，如下：
    function myCtrl($scope) {
        $scope.course = { //定义一个course对象
            title: "AngularJS入门",
            enroll: 20,
            result: function () {
                //定义一个方法：这个方法返回组装的字符串
                var courseObj;
                courseObj = $scope.course;
                return courseObj.title + " " + courseObj.enroll + "人报名中";
            }
        };
    }
</script>
</body>
</html>