<!DOCTYPE html>
<html ng-app="myApp">
<head lang="zh-CN">
    <meta charset="utf-8"/>
    <title>AngularJS Datepicker</title>
    <link href="../../../resource/bootstrap2/css/bootstrap.css" rel="stylesheet">
    <script src="js/angular.min.js"></script>
    <script src="js/ui-bootstrap-tpls.js"></script>
</head>
<body ng-app="myApp" style="background:#4A4A4A" class="row">
<div style="color:#fff; font-size:30px; font-weight:bold; text-shadow:3px 3px 3px #ccc;-webkit-text-shadow:3px 3px 3px #ccc; text-align:center; margin-top:30px;">
    FE-演示平台
</div>
<section class="row" style="width: 1000px;margin: auto">
    <section ng-controller="dateDemo" class="col-md-6"
             style="float:none; margin:20px auto; background:#fff; padding:20px;">
        <pre class="">选定的日期是：<em ng-model="aaa">{{dt | date:'yy-MM-dd'}}</em></pre>
        <h4>弹出：</h4>

        <div class="row">
            <div class="col-md-6">
                <p class="input-group">
                    <input type="text" class="form-control" datepicker-popup="{{format}}" ng-click="open($event)"
                           ng-model="dt" is-open="opened" min-date="minDate" datepicker-options="dateOptions"
                           ng-required="true" close-text="Close">
                </p>
            </div>
        </div>
        <hr>
    </section>
</section>
<script>
    angular.module('myApp', ['ui.bootstrap']).controller('dateDemo', function ($scope) {
        $scope.today = function () { // 创建一个方法，
            $scope.dt = new Date(); // 定义一个属性来接收当天日期
        };
        $scope.today(); // 运行today方法

        $scope.clear = function () {  //当运行clear的时候将dt置为空
            $scope.dt = null;
        }
        $scope.open = function ($event) {  // 创建open方法 。 下面默认行为并将opened 设为true
            $event.preventDefault();
            $event.stopPropagation();
            $scope.opened = true;
            console.log($scope.format);
            console.log($scope.dt || "yy-MM-dd");

        }
        /*
         $scope.disabled = function(date , mode){
         return (mode === 'day' && (date.getDay() === 0 || date.getDay() === 6))
         }*/
        /*    $scope.toggleMin = function(){
         $scope.minDate = $scope.minDate ? null : new Date(); //3元表达式，没啥好说的
         }
         $scope.toggleMin();
         $scope.dateOptions = {
         formatYear : 'yy',
         startingDay : 1
         }*/
        $scope.formats = ['yy-MM-dd'];
        $scope.format = $scope.formats[0];
    })
</script>
</body>
</html>  