<html>
	<title>玉琴蝶园 - Ext JS 3.1 例子 之 图片选择器</title>
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
	<link rel="stylesheet" type="text/css" href="../../../../style/main.css" />
	<body>
		<!-- 系统初始化信息显示DIV -->
		<div id="loading-mask" style=""></div>
		<div id="loading">
			<div class="loading-indicator">
				<img src="../../../../style/images/extanim32.gif" width="32" height="32" style="margin-right: 8px; float: left; vertical-align: top;" />
				Ext 3.1 - 组件例子
				<br />
				<span id="loading-msg">正在载入...</span>
			</div>
		</div>

		<link rel="stylesheet" type="text/css" href="../../../../resources/css/ext-all.css" />

		<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '加载核心 API...';</script>
		<script type="text/javascript" src="../../../../ext/ext-base.js"></script>
		<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '加载 UI 组件...';</script>
		<script type="text/javascript" src="../../../../ext/ext-all.js"></script>
		<script type="text/javascript">document.getElementById('loading-msg').innerHTML = '系统初始化...';</script>
		<div style="padding: 10px 10px 10px 20px;">
			一个简单的布局例子（本站首页布局）。
			</ul>
		</div>
		<br>
		<script type="text/javascript" src="SimpleLayout.js"></script>
		<div id="layout" style="padding: 10px 10px 10px 20px;"></div>
		<br>
	</body>
</html>